<%= button_to "clock_in", action: "clock_in" %>
<%= button_to "clock_out", action: "clock_out" %>

<div class="in">
  <h1>In</h1>
  <% @punches.each do |f| %>
    <%= f.in_format %>
  <% end %>
</div>

<div class="out">
  <h1>Out</h1>
  <% @punches.each do |f| %>
    <%= f.out_format %>
  <% end %>
</div>

<div class="time_worked">
  <h1>Time</h1>
  You have worked: <%= @punches.first.time_worked %> hours.
</div>
